.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px 50px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo span {
    color: #ff6f00;
  }
  
  .menu-link ul {
    display: flex;
    list-style: none;
  }
  
  .menu-link ul li {
    margin-right: 10px;
  }
  
  .menu-link ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
  }
  
  .menu-link ul li a:hover {
    color: #ff6f00;
  }
  
  hr {
    margin-top: 10px;
    border: none;
    border-top: 1px solid #ddd;
  }
  